@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <header class="my-5">
        <img src="/images/logo.png" alt="LibraAnalyse Logo" class="mb-4 logo">
        <h1 class="display-4">LibraAnalyse</h1>
        <p class="lead">Your gateway to powerful data insights.</p>
    </header>

    <section class="my-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title">Run Queries</h5>
                        <p class="card-text">Execute custom SQL queries.</p>
                        <a href="/Query" class="btn btn-outline-primary btn-block">Run Queries</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title">Explore Data</h5>
                        <p class="card-text">Explore predefined data sets.</p>
                        <a href="/InterestingData" class="btn btn-outline-primary btn-block">Explore Data</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title">Documentation</h5>
                        <p class="card-text">Learn how to use LibraAnalyse.</p>
                        <a href="/Documentation" class="btn btn-outline-primary btn-block">View Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-auto py-3 bg-light text-muted">
        <div class="container">
            <p>&copy; 2024 LibraAnalyse. All rights reserved.</p>
            <p><a href="/Privacy" class="text-secondary">Privacy Policy</a></p>
        </div>
    </footer>
</div>
